---
layout: baseFlex

pagination:
    data: collections.photosFlex
    size: 9
    alias: myPhotos
---
<p>
    Pet photos from
    <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Unsplash
    </a>
</p>
<div class="pagination-list">
    {% for photo in myPhotos %}
        <div class="pagination-entry">
            <a href="{{ photo.url | url }}">
                <img class="thumbnail" src="{{ photo.data.photo_image_url }}"/>
            </a>
            <br>
            <a href="{{ photo.url | url }}">
                A {{ photo.data.photo_keyword }} photo
                by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
            </a>
        </div>
    {% endfor %}
</div>

<div class="pagination-nav">
    {% if pagination.href.previous %}<a href="{{pagination.href.previous | url }}">&lt;-Previous</a> 
    {% else %}<span></span>{% endif %}
    
    <span>{{ pagination.pageNumber | plus: 1}}</span>
    
    {% if pagination.href.next %}<a href="{{pagination.href.next | url }}" >Next-&gt;</a>
    {% else %}<span></span>{% endif %}
</div>