---
layout: baseFlex
---
<div class="photo">
    <div class="pet-photo">
    {{ content }}
    </div>
    {% if photographer_username %}
    <div class="picture-details">
        <p><b>Photo by</b> {{photographer_first_name}} {{photographer_last_name}}: <a href="https://unsplash.com/@{{photographer_username }}">https://unsplash.com/@{{photographer_username }}</a></p>
        {% endif %}
    
        {% if exif_camera_model %}
        <p><b>Camera Model:</b> {{ exif_camera_model }}</p>
        {% endif %}
    
        {% if stats_views %}
        <p><b>Views:</b> {{ stats_views }}</p>
        {% endif %}
    </div>


</div>