a{
    color: #007BFF;
    transition: background-color .5s;
    text-decoration: none;
    font-family: verdana;
}

a:hover{
    background-color: gold;
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "hd hd"
        "nav nav"
        "links phts"
        "pagination ."
        "ft ft";

    margin: 0px;
}

header{
    grid-area: hd;
    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
    padding-top: 30px;
    background-color: lightgray;
}

#logo{
    width: auto;
    height: 64px;
    float: left;
}

.header-text{
    grid-area: header-text;
    padding-left: 50px;
    text-align: left;
    font-family: verdana;
    font-size: 32pt;
}

nav{
    text-align: center;
}

/* Help from:
   https://www.w3schools.com/howto/howto_js_topnav.asp */
.header-nav a{
    float: left;
    padding: 14px 16px;
    background-color: lightgray;
    font-size: 16pt;
}

.header-nav a:hover{
    background-color: gray;
}

main{
    grid-row-start: 2;
    grid-row-end: 3;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-top: 25px;
}

.pagination-list a{
    grid-area: links;

    font-size: 16pt;
}

.pagination-nav{
    grid-area: ft;

    margin-top: 25px;
    text-align: left;
}

.pagination-nav *{
    /* float: left; */
    width: 10%;
    padding: 10px;
    text-align: center;
    float: left;
}

.photo{
    grid-column-start: 1;
    grid-column-end: 3;

    max-width: 50%;
    height: auto;
    margin-left: 20%;
}

.pet-photo{
    text-align: left;
}

.picture-details{
    text-align: left;
}

footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

    padding-top: 50px;
}

.footer-text{
    padding: 0;
    text-align: center;
    color: grey;
    clear: left;
    font-family: verdana;
}

.footer-nav{
    text-align: center;
}

.GridContainer{
    display: grid;
    grid-template-columns: 40% 60%;
}

figure{
    grid-area: phts;
    margin: 0;
}

.side-bar{
    text-align: right;
}
