a {
    color: #007BFF;
    transition: background-color .5s;
}

a:hover {
    background-color: gold;
}

body {
    text-align: left;
}

header {
    text-align: center;
}

#logo {
    width: 35px;
    height: 35px;
    float: left;
    vertical-align: middle;
}

.header-text {
    text-align: center;
    font-family: didot;
    font-size: 32pt;
}

nav {
    align-items: left;
}

.header-nav a{
    background-color: lightblue;
    width: 20%;
    float: left;
    font-size: 16pt;
}

.header-nav a:hover{
    background-color: lightgreen;
}

main {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pagination-nav {
    text-align: center;
}

.footer-text{
    text-align: center;
}

.footer-nav{
    text-align: center;
}